<h1>Add a new album:</h1>
<br>
<form action="/albums" method="post">
  <label for="artist">Artist</label>
  <input id="artist" name="artist" type="text"><br>
  <label for="album">Album</label>
  <input id="album" name="album" type="text"><br>
<br>
  <button type="submit" class="btn btn-info">Add a New Album</button>
</form>
