#if ($organizer)
  <h1>$organizer.getArtist()</h1>
  <h2>$organizer.getAlbum()</h2>
#else
  <h1> Task not found </h1>
#end

<form action="/albums/new">
    <button class="btn btn-info form-control">Add Another Album</button>
</form>
<form action="/albums">
    <button class="btn btn-success form-control">View All Albums</button>
</form>
